.sidebar-filter-data {
    background-color: lightblue;
    color: #fff;
    width: 250px;
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
  }
  
  .sidebar-filter-data.active {
    height: 100%;

    z-index: 1000;
    right: 0;
    transition: 350ms;
  }
  
  .hide-icon {
    width: 15px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #0e0e0e;
    transition: color 0.3s ease;
  }
  .price {
    color: var(--textColor)
  }
  .hide-icon:hover {
    color: #ff4444;
  }
  .top-part{
    display: flex;
    justify-content: space-between;
  }
  .filter-data {
    color: red;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 10px;
    width: 100%;
    padding: 8px 24px;
    background-color: var(--secondaryColor);
  }
  
  .filter-data span {
    padding: 5px;
  }
  
  