


.sticky-header {
    display: flex;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    background-color: var(--primaryColor);
    padding: 15px;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.search-input {
    padding: 8px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    width: 45vw; 
}

.search-input:focus {
    outline: none;
    border: none;
}

.icon{
    font-size: 24px;
}

.icon:hover{
    cursor: pointer;
}

.title {
    margin: 0;
    font-size: 24px;
    cursor: pointer;
    color: var(--textColor);
}

.title:hover {
    color: #007bff; 
}

.right-section{ 
    display: flex;
    width: 73vw;
    justify-content: space-between;
}

@media only screen and (max-width: 600px){
	.sticky-header{
        flex-direction: column;
    }
    .right-section{ 
        width: 90vw;
    }
}


